{% extends "base.html" %}

{% block content %}

{% let game_id = api_game_board.game_id() %}

<h1>Game {{ game_id }}</h1>
<nav>
    <a href="/">Games</a>
</nav>

<!-- Board move making logic -->
<script src="/static/js/board.js"></script>

<!-- Note: div id chessboard is important for the board.js script -->
<!-- Replace the interior html with the rendered board we captured from the API -->
<div id="chessboard" hx-ext="sse" sse-connect="/games/{{ game_id }}/sse" sse-swap="game-update-{{ game_id }}">    
    {% include "game_board.html" %}
</div>

{% endblock %}