<!-- Our vanilla js for the board -->
<div id="board-{{ game_id }}">
    <script src="/static/js/board.js"></script>

    {% let board_html = api_game_board.board_html() %}
    {% let game_id = api_game_board.game_id() %}
        <!-- If the game is 'complete', then don't show the board -->
        {% if api_game_board.status() == "complete" %}
            <p>Game over!</p>
            <p>Winner: {{ api_game_board.winner() }}</p>
            <p>Outcome: {{ api_game_board.outcome() }}</p>
        {% else %}
            <p>Turn: {{ api_game_board.turn() }}</p>
        {% endif %}

        {{ board_html|safe }}

    {% if api_game_board.status() == "active" %}
    <form id="moveForm" style="display: none;">
        <input type="hidden" id="uciMoveInput" name="uciMove">
        <!-- Submit without updating content -->
        <button hx-post="/games/{{ game_id }}" hx-trigger="click" hx-target="#board-{{ game_id }}" hx-swap="none" type="submit" id="submitMove">Submit Move</button>
    </form>

    <form id="resignForm" style="display: block;">
        <input type="hidden" id="uciMoveInput" name="uciMove">
        <input type="hidden" id="resignInput" name="resign" value="true">
        <!-- Submit without updating content -->
        <button hx-post="/games/{{ game_id }}" hx-trigger="click" hx-target="#board-{{ game_id }}" hx-swap="none" type="submit" id="submitResign">Resign</button>
    </form>
    {% endif %}
</div>